.fullwidth {
  width: 100%;
}

.translation-container, .key-container {
  display: inline-block;
  padding: 5px;
}

.key-container {
  width: 30%;

}

.translation-container {
  width: calc(70% - 20px);
}

.container {
  margin: 5px;
}
