<mat-card class="container">
  <form  #form="ngForm">
    <div class="key-container">
      <mat-form-field class="fullwidth">
        <input
          matInput
          placeholder="Key"
          name="key"
          required
          [keyTaken]="translations$"
          [ngModel]="translation.key"
          (ngModelChange)="onTranslationKeyChange(translation.key, $event);"
          [errorStateMatcher]="matcher"
          #keyInput="ngModel"
        >

        <mat-error *ngIf="keyInput.hasError('required')">
          You need to have a key
        </mat-error>
        <mat-error *ngIf="keyInput.hasError('keyIsTaken')">
          This key is already taken
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="onTranslationDelete()">delete</button>

    </div>
    <div class="translation-container">
      <label *ngFor="let language of languages$ | async">
        <mat-form-field class="fullwidth">
        <textarea
          matInput
          [placeholder]="language"
          [name]="language"
          [ngModel]="translation.value[language]"
          (ngModelChange)="translation.value[language] = $event; onTranslationChange()"
        ></textarea>
        </mat-form-field>
      </label>
    </div>
  </form>
</mat-card>
