<h1>
  {{locales.TITLE | i18n }}
</h1>
<h1>
  {{'TITLE' | i18n: {} : 'ita' }}
</h1>

<p>
  {{locales.GREETING_MALE | i18n: {NAME: 'Donato Wolfisberg'} }}
</p>

<br>

<app-translation [key]="locales.FLAG">
  <ng-template appOptKey="FLAG">
    <mat-icon>flag</mat-icon>
  </ng-template>
</app-translation>

<br>

<app-translation [key]="locales.FLAG" lang="deu">
  <mat-icon *appOptKey="'FLAG'">flag</mat-icon>
</app-translation>


<h1>Change Language</h1>
<button (click)="changeLanguage('deu')">deu</button>
<button (click)="changeLanguage('fra')">fra</button>
<button (click)="changeLanguage('ita')">ita</button>
