<div class="container">

  <div class="search-bar">
    <mat-form-field>
      <input matInput (keyup)="filter$.next($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="createNewMode = true" [disabled]="createNewMode">
      Add new
    </button>
  </div>

  <app-translation-new-form
    [hidden]="!createNewMode"
    [languages$]="languages$"
    [translations$]="translations$"
    (create)="onCreate($event)"
    (cancel)="createNewMode = false"
  ></app-translation-new-form>

  <cdk-virtual-scroll-viewport autosize  class="virtual-scroll-viewport">
    <app-translation-edit-form
      *cdkVirtualFor="let translation of filteredTranslations$ | async"
      [translation]="translation"
      [translations$]="translations$"
      [languages$]="languages$"
      (translationChange)="onTranslationChange($event)"
      (translationKeyChange)="onTranslationKeyChange($event.oldKey, $event.newKey)"
      (translationDelete)="onTranslationDelete($event)"
    >
    </app-translation-edit-form>
  </cdk-virtual-scroll-viewport>
</div>
