.container {
  margin: auto;
  width: 80%;
}

.search-bar button {
  width: 100px;
}

.search-bar mat-form-field {
  width: calc(100% - 110px);
  padding-right: 10px;
}

.virtual-scroll-viewport {
  height: calc(100vh - 130px);
}


